.parallex_head{
	padding-top:0;
	background:
	linear-gradient(
      rgba(139,69, 19, 0.25),
      rgba(139, 69, 19, 0.25)
    ),
	url(../../resources/backgroundIMG.jpg);
	height:98vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
}

h1{
	font-size: 40px !important;
	color: white !important;
	padding-top: 25%;
	padding-left: 45%
}
h2{
	margin:auto;
	padding-left: 39%;
	color:white !important;
}

#custom-search-input{
    margin:auto;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-width: 50%;
   
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


.advanced_search{
	margin: auto;
    padding: 0.2em;
    border-radius: 0.5em;
    border-width: 10px;
    display: inline-block;
    clear: both;
    background-color: rgba(1,1,1,0.3);
	color: rgb(200,200,200) !important;
}

.col-center{
    margin:0 auto;
}

.downward_arrow{
position: absolute !important;
	size: 20px;
	height: 30px;
	font-size: 50px;
	color: white;
	top: 94%;
	left: 50%;
}

.add_resource{
	float: right;
    margin-top: 20px;
}