.navbar{
	position: fixed !important;
	width:100%;
	top: 0;
}

.clear{
	clear:both;
}

.margin_top{
	margin-top:60px;
}

body {
	padding-top: 65px;
	color: black;
}

.center {
    margin: 0 auto;
    width: 80%;
}